@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin:0;
    padding: 0;
}

html{
    margin-top: 10px;
    font-family: Orbitron, sans-serif;
    background-color: coral;
    font-size: 62.5%;
    /*color: rgb(217, 231, 107);*/
}



.app{
    background-color : coral;
}
